<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <pre>

def dp(request):
    return render(request,"dp.html")

def pc(request):
    return render(request,"pc.html")

def rw(request):
    return render(request,"rw.html")

def sh(request):
    return render(request,"sh.html")

def fcfs(request):
    return render(request,"fcfs.html")

def rr(request):
    return render(request,"rr.html")

def dup(request):
    return render(request,"dup.html")

def mq(request):
    return render(request,"mq.html")

def sm(request):
    return render(request,"sm.html")

def o(request):
    return render(request,"o.html")
    
    </pre>
</body>
</html>