<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shell Script</title>
</head>
<body>
    <pre>



1.	Greater of 3 numbers :

echo "enter 1st number" read num1
echo "enter 2nd number" read num2
echo "enter 3rd number" read num3
greater=$num1
if [ $greater -lt $num2 ] then
greater=$num2
fi
if [ $greater -lt $num3 ] then
greater=$num3
fi
echo "The greater of 3 number is $greater"




2.	Negative positive or zero

echo "Enter a Number" read num
if [ $num -lt 0 ] then
echo "Negative" elif [ $num -gt 0 ] then
echo "Positive"
else
echo "Neither Positive Nor Negative" fi



3.	Sum of n numbers

echo "enter number"
read num sum=$(($(($num*$(($num+1))))/2)) echo "sum of n odd numbers are $sum"



4.	N odd sum and print

echo "enter number"
read num
odd=1
count=0
sum=0
while [ $count -lt $num ]
do
echo "$odd"
((sum+=odd))
((odd+=2))
((count++))
done
echo "sum of n odd numbers are $sum"




5.	Sum of digits of number
echo "enter number"
read num
sum=0
while [ $num -gt 0 ]
do
sum=$((sum+=num%10)) num=$((num/10))
done
echo "sum of n odd numbers are $sum"


6.	Factorial of number :
echo "enter number"
read num
fact=1
while [ $num -gt 0 ] do
((fact*=num)) ((num--))
done
echo "$fact"



7.	Sum of array element
declare -a arr=( 10 20 30 )
sum=0
for i in ${arr[@]}
do
sum=$(($sum+i))
done
echo "sum of array elements : $sum"

</pre>
</body>
</html>