<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Memory</title>
</head>
<body>
    <pre>
        #include <stdio.h>
            #include <stdlib.h>
            #include <string.h>
            #include <unistd.h>
            #include <sys/shm.h>
            
            
            int main(int argc,char* argcv[]){
                int shmid;
                void *shared_memory;
                shmid=shmget((key_t)1111,1024,0666|IPC_CREAT);
                printf("shmid: %d\n",shmid);
            
                shared_memory=shmat(shmid,NULL,0);
                printf("shared_memory: %p\n",shared_memory);
            
                strcpy(shared_memory,argcv[1]);
                printf("You wrote: %s\n",(char*)shared_memory);
            
            }

            



            #include <stdio.h>
                #include <stdlib.h>
                #include <string.h>
                #include <unistd.h>
                #include <sys/shm.h>
                
                int main(){
                    int shmid;
                    void *shared_memory;
                    shmid=shmget((key_t)1111,1024,0666|IPC_CREAT);
                    shared_memory=shmat(shmid,NULL,0);
                    printf("Shared memory has : %s\n",(char*)shared_memory);
                }
    </pre>
</body>
</html>